@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit';
    background-image: url('photo/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #6a999a;
    text-align: center;
    border: 1px solid #b0c4de;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

form {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #b0c4de;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.homeheader {
    background-color: #054761;
    color: #f2eac1;
    text-align: center;
    font-size: 4rem;
}
.logout-button {
    display: inline-block;
    padding: 11px 18px;
    background-color: #e6747e; 
    color: white;
    margin-top: 20px;
    text-decoration: none; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
    opacity: 0.8;
}
.welcome p{
    color: #ffffff;
    font-family: 'Chakra Petch';
    margin-top: 20px;
    font-weight: 300px;
}
.logout-button:hover {
    background-color: #a6222f; 
}
.dashboard .button {
    background-color: #98c0eb;
    margin-top: 20px;
    color: white; 
    padding: 15px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    opacity: 0.8;
}
.button:hover {
    background-color: #0559b3; 
}
.homecontent {
    text-align: center;
    padding-top: 3rem;
    width: 100%;
    background-image: url('photo/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #6a999a;
    border: none;
    border-radius: 5px;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
.success {
    color: #147a55;
    background: #dff9d8;
    opacity: 0.6;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}